#nombreCursosAdmin {
  color: grey;
  text-decoration: underline;
}

input {
  font-size: large;
  margin-bottom: 1%;
}

input::placeholder {
  font-size: medium;
}

#row-buttons {
  padding-bottom: 1%;
}